{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <a href="{{ path('product_index') }}" class="btn btn-info">Regresar</a>
    <br><br>
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ product.stock }}</td>
            </tr>
        </tbody>
    </table>    

    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">Editar</a>
    <br><br><br>
    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
