{% extends 'base.html.twig' %}

{% block title %}Compras{% endblock %}

{% block body %}
    <a href="{{ path('sale_index') }}" class="btn btn-info">Regresar</a>
    <br><br>
    <h1>Ventas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sale.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ sale.date ? sale.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Productos</th>
            </tr>
            {% for product in sale.Product %}
                <tr>
                    <td>
                        {{ product.name }}
                    </td>
                    <td>
                        {{ product.description }}
                    </td>
                </tr>
            {% endfor %}
            
            <tr>            
                <th>Total</th>
                <td>${{ sale.total }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('sale/_delete_form.html.twig') }}
{% endblock %}
